<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT * FROM BMEMBER
		WHERE USERID = ?
		AND USERPWD = ?
	</entry>
	<entry key="idChk">
		SELECT USERID
		FROM BMEMBER
		WHERE USERNAME=?
		AND EMAIL =?
	</entry>
	<entry key="pwdChk">
		SELECT USERPWD
		FROM BMEMBER
		WHERE USERNAME = ?
		AND USERID = ?
	</entry>
	<entry key="insertMember">
    INSERT INTO BMEMBER (
        USERNO, USERID, USERPWD, USERNAME, PHONE, ADDRESS, EMAIL,
        SSN,USER_NICK, SCHOOL_NO,SCHOOL_ST
    ) VALUES (
        SEQ_USERNO.NEXTVAL,?,?,?,?,?,?,?,?,?,?
    )    
	</entry>
	<entry key="checkId">
		SELECT COUNT(*) "COUNT"
		FROM BMEMBER
		WHERE USERID = ?
	</entry>
	<entry key="deleteMember">
		UPDATE BMEMBER
		SET STATUS = 'N'
		WHERE USERID = ?
		AND USERPWD = ?
		AND STATUS = 'Y'
	</entry>
	<entry key="updateMember">
		UPDATE BMEMBER
		SET USERNAME = ?
			,PHONE = ?
			,ADDRESS = ?
			,EMAIL = ?
			,SSN = ?
			,USER_NICK = ?
			,SCHOOL_NO = ?
			,SCHOOL_ST = ?
			,MODIFY_DATE = SYSDATE
		WHERE USERID = ?
	</entry>
	<entry key="selectMember">
		SELECT *
		FROM BMEMBER
		WHERE USERID = ?
	</entry>
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT FROM MESSAGE
		WHERE ACCEPT_USER_NO = ?
	</entry>
	<entry key="selectList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, M.*
            	FROM ( SELECT MSG_NO, USER_NICK, MSG_CONTENT, MSG_SEND_DATE, ACCEPT_USER_NO
                        FROM MESSAGE M
                        JOIN BMEMBER B ON M.USERNO = B.USERNO
                        WHERE  ACCEPT_USER_NO = ?
                        ORDER BY MSG_NO DESC
                         ) M ) 
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="friendArr">
		SELECT USER_NICK
		FROM BMEMBER
		WHERE STATUS='Y'
		ORDER BY USER_NICK
	</entry>
	<entry key="searchNick">
		SELECT USER_NICK
		FROM BMEMBER
		WHERE USER_NICK = ?
	</entry>
	
	
</properties>
