<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is query</comment>
<entry key="selectFoodRanking">
		SELECT BOARD_NO, B.BOARD_TITLE, FC.FOOD_NAME, B.GOOD, B.CREATE_DATE, M.USERID, M.POINT
		FROM BOARD B
		JOIN BMEMBER M USING (USERNO)
		JOIN CATEGORY C ON (B.BOARD_TYPE = C.CATEGORY_NO)
		JOIN FOOD_BOARD FB USING (BOARD_NO)
		JOIN F_CATEGORY FC ON (FC.FOOD_CATEGORY = fb.food_category)
		WHERE c.category_no = 3
		AND FB.DETAIL_TYPE = 1
		AND B.STATUS = 'Y'
		ORDER BY GOOD DESC
</entry>

<entry key="selectDetail">
		SELECT B.BOARD_TITLE, B.BOARD_CONTENT, FC.FOOD_NAME, B.GOOD, B.BAD, B.REPORT, B.CREATE_DATE, M.USERID, M.POINT, FB.ADDRESS, B.USERNO
		FROM BOARD B
		JOIN BMEMBER M ON (B.USERNO = M.USERNO)
		JOIN CATEGORY C ON (B.BOARD_TYPE = C.CATEGORY_NO)
		JOIN FOOD_BOARD FB USING (BOARD_NO)	
		JOIN F_CATEGORY FC ON (FC.FOOD_CATEGORY = fb.food_category)
		WHERE c.category_no = 3
		AND FB.DETAIL_TYPE = 1
		AND B.STATUS = 'Y'
		AND BOARD_NO = ?
</entry>

	
<entry key="newfoodRankInsert">
	INSERT ALL
    INTO BOARD (BOARD_NO,USERNO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT) VALUES (SEQ_BNO.NEXTVAL, ?, 3, ?, ?)
    INTO FOOD_BOARD (BOARD_NO,FOOD_CATEGORY,ADDRESS) VALUES (SEQ_BNO.CURRVAL, SEQ_FCNO.NEXTVAL,?)
    INTO F_CATEGORY VALUES (SEQ_FCNO.CURRVAL, ?)
    INTO ATTACHMENT VALUES (SEQ_FNO.NEXTVAL, SEQ_BNO.CURRVAL, ?,?,?,SYSDATE, DEFAULT)
SELECT * FROM DUAL
</entry>

<entry key="BasicfoodRankInsert">
	INSERT ALL
    INTO BOARD (BOARD_NO,USERNO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT) VALUES (SEQ_BNO.NEXTVAL, ?, 3, ?, ?)
    INTO FOOD_BOARD (BOARD_NO,FOOD_CATEGORY,ADDRESS) VALUES (SEQ_BNO.CURRVAL, ?, ?)
    INTO ATTACHMENT VALUES (SEQ_FNO.NEXTVAL, SEQ_BNO.CURRVAL, ?,?,?,SYSDATE, DEFAULT)
SELECT * FROM DUAL
</entry>


<entry key="UpdateGood">
	UPDATE BOARD
	SET GOOD = GOOD + 1
	WHERE BOARD_NO = ?
	AND STATUS = 'Y'
</entry>

<entry key="UpdateBad">
	UPDATE BOARD
	SET BAD = BAD + 1
	WHERE BOARD_NO = ?
	AND STATUS = 'Y'
</entry>

<entry key="UpdateReportB">
	UPDATE BOARD
	SET REPORT = REPORT + 1
	WHERE BOARD_NO = ?
	AND STATUS = 'Y'
</entry>

<entry key="deleteFoodRank">
	UPDATE BOARD
	SET STATUS = 'N',
		MODIFY_DATE = SYSDATE
	WHERE BOARD_NO = ?
	AND STATUS = 'Y'
</entry>

<entry key="SelectNewFood">
	SELECT *
	FROM F_CATEGORY
	WHERE FOOD_NAME = ?
</entry>

<entry key="NewUpdateFoodRank1"> 
	INSERT INTO F_CATEGORY VALUES (SEQ_FCNO.NEXTVAL, ?)
</entry>
<entry key="NewUpdateFoodRank2">
	UPDATE FOOD_BOARD
	SET FOOD_CATEGORY = SEQ_FCNO.CURRVAL,
		ADDRESS = ?
	WHERE BOARD_NO = ?
</entry>
<entry key="NewUpdateFoodRank3">
	UPDATE BOARD
	SET BOARD_TITLE = ?,
		BOARD_CONTENT = ?,
		MODIFY_DATE = SYSDATE
	WHERE BOARD_NO = ?
</entry>

<entry key="UpdateFoodRank2">
UPDATE FOOD_BOARD SET FOOD_CATEGORY = ?, ADDRESS = ? WHERE BOARD_NO = ?</entry>



<entry key="locationFood">
	SELECT ADDRESS, FOOD_NAME, BOARD_NO, GOOD
FROM BOARD B
JOIN FOOD_BOARD FB USING (BOARD_NO)
JOIN F_CATEGORY FC ON (FB.FOOD_CATEGORY = FC.FOOD_CATEGORY)
WHERE ADDRESS LIKE '%'||?||'%'
AND GOOD > 5
ORDER BY GOOD DESC
</entry>

<entry key="selectBtncheck">
		SELECT BOARD_NO, BC.USERNO, BTNTYPE
		FROM BOARD B
        JOIN BTNCHECK BC USING (BOARD_NO)
		WHERE B.STATUS = 'Y'
		AND BOARD_NO = ?
        AND BC.USERNO = ?
</entry>

<entry key="deleteBtn">
DELETE FROM BTNCHECK WHERE USERNO = ?
</entry>

<entry key="insertBtnCheck">
INSERT INTO BTNCHECK VALUES (?, ?, ?) 
</entry>

<entry key="updatePlusButtonGOOD">
UPDATE BOARD
SET GOOD = GOOD + 1
WHERE BOARD_NO = ?
</entry>
<entry key="updatePlusButtonBAD">
UPDATE BOARD
SET BAD = BAD + 1
WHERE BOARD_NO = ?
</entry>
<entry key="updatePlusButtonREPORT">
UPDATE BOARD
SET REPORT = REPORT + 1
WHERE BOARD_NO = ?
</entry>

<entry key="updateMiusButtonGOOD">
UPDATE BOARD
SET GOOD = GOOD - 1
WHERE BOARD_NO = ?
</entry>
<entry key="updateMiusButtonBAD">
UPDATE BOARD
SET BAD = BAD - 1
WHERE BOARD_NO = ?
</entry>
<entry key="updateMiusButtonREPORT">
UPDATE BOARD
SET REPORT = REPORT - 1
WHERE BOARD_NO = ?
</entry>

<entry key="deleteBtnCheck">
DELETE BTNCHECK
WHERE BOARD_NO = ?
AND USERNO = ?
</entry>

<entry key="AfterDeleteBoardGOOD">
UPDATE BOARD
SET GOOD = GOOD-1
WHERE BOARD_NO = ?
</entry>
<entry key="AfterDeleteBoardBAD">
UPDATE BOARD
SET BAD = BAD-1
WHERE BOARD_NO = ?
</entry>
<entry key="AfterDeleteBoardREPORT">
UPDATE BOARD
SET REPORT = REPORT-1
WHERE BOARD_NO = ?
</entry>

<entry key="updateBtnCheck">
UPDATE BTNCHECK
SET BTNTYPE = ?
WHERE BOARD_NO = ?
AND USERNO = ?
</entry>

<entry key="selectUserBtn">
SELECT BOARD_NO, USERNO, BTNTYPE
FROM BTNCHECK
WHERE BOARD_NO = ?
AND USERNO = ?
</entry>

<entry key="sequenceSession">
SELECT SEQ_BNO.NEXTVAL FROM DUAL
</entry>

<entry key="FoodRankInsertImg">
INSERT INTO ATTACHMENT VALUES (SEQ_FNO.NEXTVAL, SEQ_BNOCURRVAL, ?,?,?,SYSDATE, DEFAULT)
</entry>

<entry key="selectAttachment">
	SELECT CHANGE_NAME, FILE_PATH
	FROM ATTACHMENT
	WHERE BOARD_NO = ?
	AND STATUS = 'Y'
</entry>

<entry key="selectAttachmentDetail">
SELECT * FROM ATTACHMENT WHERE BOARD_NO = ?
</entry>

<entry key="selectLocationFoodImg">
	SELECT *
	FROM ATTACHMENT
	WHERE BOARD_NO = ?
</entry>
<entry key="foodUpdateImg">
	UPDATE ATTACHMENT
	SET ORIGIN_NAME = ?,
		CHANGE_NAME = ?,
		FILE_PATH = ?,
		UPLOAD_DATE = SYSDATE
	WHERE BOARD_NO = ?
</entry>


<entry key="deleteFoodImg">
	DELETE FROM ATTACHMENT
	WHERE BOARD_NO = ?
</entry>

<entry key="foodToInsert">
	INSERT ALL
	    INTO BOARD (BOARD_NO,USERNO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT) VALUES (SEQ_BNO.NEXTVAL, ?, 3, ?, ?)
	    INTO FOOD_TOGETHER (BOARD_NO, MAINADDRESS, SUBADDRESS, PERSON, END_TIME) VALUES (SEQ_BNO.CURRVAL,?,?,?,?)
	    INTO ATTACHMENT VALUES (SEQ_FNO.NEXTVAL, SEQ_BNO.CURRVAL, ?,?,?,SYSDATE, DEFAULT)
	SELECT * FROM DUAL
</entry>
<entry key="selectFoodTogether">
SELECT CHANGE_NAME, BOARD_TITLE, PERSON, END_TIME, USERID, FILE_PATH
FROM BOARD B
JOIN ATTACHMENT A USING (BOARD_NO)
JOIN FOOD_TOGETHER F USING (BOARD_NO)
JOIN BMEMBER M ON (B.USERNO = M.USERNO)
WHERE B.STATUS = 'Y'
</entry>
</properties>


