<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is query</comment>
<entry key="selectFoodRanking">
		SELECT BOARD_NO, B.BOARD_TITLE, FC.FOOD_NAME, B.GOOD, B.CREATE_DATE, M.USERID, M.POINT
		FROM BOARD B
		JOIN BMEMBER M USING (USERNO)
		JOIN CATEGORY C ON (B.BOARD_TYPE = C.CATEGORY_NO)
		JOIN FOOD_BOARD FB USING (BOARD_NO)
		JOIN F_CATEGORY FC ON (FC.FOOD_CATEGORY = fb.food_category)
		WHERE c.category_no = 3
		AND FB.DETAIL_TYPE = 1
		AND B.STATUS = 'Y'
		ORDER BY GOOD DESC
</entry>

<entry key="selectDetail">
		SELECT B.BOARD_TITLE, B.BOARD_CONTENT, FC.FOOD_NAME, B.GOOD, B.BAD, B.REPORT, B.CREATE_DATE, M.USERID, M.POINT, FB.ADDRESS, B.USERNO
		FROM BOARD B
		JOIN BMEMBER M ON (B.USERNO = M.USERNO)
		JOIN CATEGORY C ON (B.BOARD_TYPE = C.CATEGORY_NO)
		JOIN FOOD_BOARD FB USING (BOARD_NO)	
		JOIN F_CATEGORY FC ON (FC.FOOD_CATEGORY = fb.food_category)
		WHERE c.category_no = 3
		AND FB.DETAIL_TYPE = 1
		AND B.STATUS = 'Y'
		AND BOARD_NO = ?
</entry>

	
<entry key="newfoodRankInsert">
	INSERT ALL
    INTO BOARD (BOARD_NO,USERNO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT) VALUES (SEQ_BNO.NEXTVAL, ?, 3, ?, ?)
    INTO FOOD_BOARD (BOARD_NO,FOOD_CATEGORY,ADDRESS) VALUES (SEQ_BNO.CURRVAL, SEQ_FCNO.NEXTVAL,?)
    INTO F_CATEGORY VALUES (SEQ_FCNO.CURRVAL, ?)
SELECT * FROM DUAL
</entry>

<entry key="BasicfoodRankInsert">
	INSERT ALL
    INTO BOARD (BOARD_NO,USERNO, BOARD_TYPE, BOARD_TITLE, BOARD_CONTENT) VALUES (SEQ_BNO.NEXTVAL, ?, 3, ?, ?)
    INTO FOOD_BOARD (BOARD_NO,FOOD_CATEGORY,ADDRESS) VALUES (SEQ_BNO.CURRVAL, ?, ?)
SELECT * FROM DUAL
</entry>




<entry key="UpdateGood">
	UPDATE BOARD
	SET GOOD = GOOD + 1
	WHERE BOARD_NO = ?
</entry>

<entry key="UpdateBad">
	UPDATE BOARD
	SET BAD = BAD + 1
	WHERE BOARD_NO = ?
</entry>

<entry key="UpdateReport">
	UPDATE USER_CONDITION
	SET BLOCK_C = BLOCK_C + 1
	WHERE USERNO = ?
</entry>
</properties>


