<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
	<!-- 대나무숲 게시글 갯수 카운트 -->
		SELECT COUNT(*) "COUNT"
		FROM BOARD
		WHERE BOARD_TYPE=2
		AND STATUS = 'Y'
	</entry>
	<entry key="selectList">
	<!-- 대나무숲 게시글 페이지 목록으로 쓸 데이터 조회 -->
	SELECT *	
	FROM(SELECT ROWNUM RNUM, A.*
		 FROM(SELECT BOARD_NO,USERNO
		 			,DECODE(BAM_CATEGORY_NO, '1', '일반', '2', '질문', '3', '연애') "BAM_CATEGORY_NO",BOARD_TITLE
		 			,BOARD_CONTENT,CREATE_DATE
		 			,GOOD,COUNT
                FROM BOARD 
                JOIN CATEGORY_BAM USING (BOARD_NO)
                WHERE BOARD_TYPE=2
                AND STATUS = 'Y'
                ORDER BY BOARD_NO DESC) A)
	WHERE RNUM BETWEEN ? AND ?	  
	</entry>
	<entry key="BamCategoryList">
	<!-- 대나무숲 카테고리 가져오기 -->
	SELECT BAM_CATEGORY_NO,DISTINCT DECODE(BAM_CATEGORY_NO, '1', '일반', '2', '질문', '3', '연애') "BAM_CATEGORY_NAME"
	FROM CATEGORY_BAM
	</entry>
	<entry key="insertBam">
	<!-- 대나무숲 게시글 인서트+대나무숲카테고리 인서트 -->
	INSERT ALL
	INTO BOARD (BOARD_NO,USERNO,BOARD_TYPE,BOARD_TITLE,BOARD_CONTENT)VALUES (SEQ_BNO.NEXTVAL,?,2,?,?)
	INTO CATEGORY_BAM (BOARD_NO,BAM_CATEGORY_NO) VALUES (SEQ_BNO.CURRVAL,?)
	SELECT * FROM DUAL
	</entry>
	<entry key="insertAttachment">
	<!-- 대나무숲 첨부파일 인서트 -->
	INSERT INTO ATTACHMENT (FILE_NO,BOARD_NO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH)
	VALUES (SEQ_FNO.NEXTVAL,SEQ_BNO.CURRVAL,?,?,?)
	</entry>
	<entry key="increaseCount">
	<!-- 대나무숲 조회수 증가 -->
	UPDATE BOARD
	SET COUNT = COUNT + 1
	WHERE STATUS = 'Y'
	AND BOARD_NO = ?
	</entry>
	<entry key="selectBam">
	<!-- 대나무숲 게시글 조회 -->
	SELECT BOARD_NO,USERNO,DECODE(BAM_CATEGORY_NO, '1', '일반', '2', '질문', '3', '연애') "BAM_CATEGORY_NO",BOARD_TITLE,BOARD_CONTENT,CREATE_DATE,MODIFY_DATE,GOOD,COUNT
	FROM BOARD
    JOIN CATEGORY_BAM USING (BOARD_NO)
	WHERE BOARD_NO = ?
	AND STATUS = 'Y'
	</entry>
	<entry key="selectAttachment">
	<!-- 대나무숲 첨부파일 조회 -->
	SELECT FILE_NO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH,UPLOAD_DATE
	FROM ATTACHMENT
	WHERE BOARD_NO = ?
	AND STATUS = 'Y'
	</entry>
	<entry key="deleteBam">
	<!-- 대나무숲 게시글 삭제(상테창변경) -->
	UPDATE BOARD
	SET STATUS = 'N'
	WHERE BOARD_NO = ?
	AND STATUS = 'Y'
	</entry>
	<entry key="updateBam">
	<!-- 대나무숲 게시글 수정 -->
	UPDATE BOARD
	SET BOARD_TITLE = ?
	, 	BOARD_CONTENT = ?
	,  	MODIFY_DATE =SYSDATE
	WHERE BOARD_NO = ?
	AND STATUS = 'Y'
	</entry>
	<entry key="updateBamCategory">
	<!-- 대나무숲 카테고리 수정 -->
	UPDATE CATEGORY_BAM
	SET BAM_CATEGORY_NO = ?
	WHERE BOARD_NO = ?
	</entry>
	<entry key="updateAttachment">
	<!--대나무숲 첨부파일 수정  -->
	UPDATE ATTACHMENT
	SET ORIGIN_NAME = ?
	, 	CHANGE_NAME = ?
	,	FILE_PATH = ?
	,	UPLOAD_DATE = SYSDATE
	WHERE FILE_NO = ?
	AND STATUS = 'Y'
	</entry>
	<entry key="newInsertAttachment">
	<!-- 대나무숲 게시글 수정할때 새로 첨부파일 넣은경우 -->
	INSERT INTO ATTACHMENT(FILE_NO,BOARD_NO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH)
	VALUES (SEQ_FNO.NEXTVAL,?,?,?,?)
	</entry>

</properties>